@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Quicksand:wght@700&family=VT323&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #c5e4e7;
}

.logo {
    display: block;
    margin: 0 auto;
    padding-top: 20vh;
}

.wrapper {
    background-color: #fff;
    margin: 50px 360px;
    border-radius: 25px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.calculation {
    &__block {
        position: relative;
        &-img {
            position: absolute;
            top: 35px;
            left: 7px;
        }
    }
    &__tip {
        margin-top: 30px;
        margin-bottom: 30px;
        &-list {
            margin-top: 10px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            text-align: center;
            &-item {
                background-color: #00474b;
                padding: 10px;
                border-radius: 12px;
                color: #fff;
                font-family: "Lato", sans-serif;
                transition: all 0.4s ease-in-out;
                &:hover {
                    background-color: #c5e4e7;
                    color: #00474b;
                    transition: all 0.4s ease-in-out;
                }
            }
        }
    }
}

.amount {
    background-color: #00474b;
    margin-left: 30px;
    border-radius: 25px;
    padding: 20px;
    &-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.first-block {
    margin-bottom: 20px;
}

.label {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #646869;
}

.input {
    display: block;
    background-color: #f3f8fb;
    text-align: right;
    padding: 10px;
    color: #003c34;
    font-family: "Lato", sans-serif;
    border-radius: 6px;
    position: relative;
    margin-top: 5px;
    width: 100%;
    &:hover {
        border: 1px solid green;
        transition: border 1s ease-in-out;
    }
}

.title {
    color: #fff;
    font-family: "VT323", monospace;
    font-size: 20px;
}

.total-amount {
    color: #fff;
    font-family: "VT323", monospace;
    font-size: 50px;
    color: #1ac4aa;
}

span {
    display: block;
    font-size: 16px;
    color: #498488;
}
